.reading-exercise {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.reading-text {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.question-box{
    border-radius: 20px; /* Si se desea mantener las esquinas redondeadas */
    cursor: pointer;
    text-align: center;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    max-width: 22rem;
    min-height: 4rem;
}

.question-section {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 8px 0;
}

.reading-next-question{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    padding: 5px 35px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.reading-next-question:hover {
    background-color: #a0a302;
}
