@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Figtree", sans-serif;
    margin: 0;
}

.profile-page {
    padding-top: 60px; /* Ajusta este valor para evitar superposición con la navbar */
}

.navbarcreateexercises {
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: -2px 0 5px rgba(1, 5, 1, 0.9);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 1; /* Asegura que la navbar esté sobre otros elementos */
}

.navbarcreateexercises ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbarcreateexercises li {
    float: left;
}

.navbarcreateexercises li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbarcreateexercises li a:hover {
    background-color: #ddd;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.username-pass {
    margin: 0;
    margin-right: 30px;
    cursor: pointer;
}

.main-content {
    display: flex;
    padding-top: 60px; /* Ajusta este valor para evitar superposición con la navbar */
}

.tab-buttons {
    text-align: right;
    width: 50px;
    cursor: pointer;
}

.toolbarcreateexercises {
    position: fixed;
    top: 0px;
    right: 0;
    height: calc(100% - 60px); 
    width: 70px;
    background-color: #ffffff;
    box-shadow: -0px 0 5px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.toolbarcreateexercises .logout-button {
    margin-top: auto;
    padding-bottom: 20px;
}

.toolbarcreateexercises img {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    transition-duration: 700ms ;

    cursor: pointer;
}

.toolbarcreateexercises img:hover {
    background-color: rgba(66, 68, 66, 0.281);
    background-size: 200%;
    transition-duration: 700ms ;

}

.user-infoprofile {
    padding: 20px;
    background-color: #e5e4e4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: solid;
    border-width: 1px;
    width: calc(100% - 250px); /* Ajusta el ancho para que considere la barra de herramientas */
    margin: 20px auto;
}

.user-details {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-image {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.user-name,
.user-email,
.user-level,
.user-points {
    margin: 0;
    margin-top: 5px;
    color: #800080;
}
.user-stats  {
    
    margin-top: 40px;
}
.user-stats p {
    margin: 5px 0;
    margin-bottom: 5px;
}

.user-exercises ul {
    list-style-type: none;
    padding: 0;
}

.user-exercises ul li {
    margin: 5px 0;
}

.user-buttonsprofile {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: right;
}
/*#e5e4e4*/
.user-buttonprofile {
    background-color: #AC1C52;
    border: none;
    color: white;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Figtree", sans-serif;
    cursor: pointer;
}

.user-buttonprofile:hover {
    background-color: purple;
}

.hr-profile{
    border: 0;
    height: 2px; /* Ajusta el grosor de la línea */
    background: linear-gradient(to right, #AC1C52, #800080); /* Degradado de #AC1C52 a morado */
    margin: 20px 0; /* Ajusta el espacio alrededor de la línea */
    

}

.user-info-data{
color: black;

}


h3{
font-size: large;
font-style: normal;
font-weight: 600;


}

.user-container-info{

display: flex;
flex-direction: row;
margin-right: 20px;

}

.scrolled-exercises-profile{
border: solid;
border-color: purple;

border-width: 2px;
margin-left: 20px;
border-radius: 7px;

max-height: 200px; /* Altura máxima del <ul> */
overflow-y: auto; /* Scroll vertical si el contenido excede la altura */
padding: 10px; /* Espacio alrededor del contenido */
}

.scrolled-exercises-profile li {
    background-color: #f0f0f0; /* Color de fondo del comentario */
            margin-bottom: 10px; /* Espacio entre comentarios */
            padding: 15px; /* Espacio interior de cada comentario */
            border-radius: 8px; /* Bordes redondeados */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para efecto de elevación */
            display: flex; /* Para alinear el avatar y el contenido */
            align-items: flex-start; /* Alinea los items al inicio */
    }

    .scrollable-list li .comment-content {
        flex-grow: 1; /* Hace que el contenido del comentario ocupe el espacio disponible */
    }

    .scrollable-list li .avatar {
        flex-shrink: 0; /* Evita que el avatar se reduzca */
        width: 50px; /* Ancho del avatar */
        height: 50px; /* Altura del avatar */
        border-radius: 50%; /* Hace el avatar circular */
        margin-right: 15px; /* Espacio entre el avatar y el contenido */
    }