@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Figtree", sans-serif;
    margin: 0;
}

.profile-page {
    padding-top: 60px; /* Ajusta este valor para evitar superposición con la navbar */
}

.navbarcreate {
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: -2px 0 5px rgba(190, 184, 20, 0.9);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 1; 
}

.navbarcreate ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbarcreate li {
    float: left;
}

.navbarcreate li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbarcreate li a:hover {
    background-color: #ddd;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.username-pass {
    margin: 0;
    margin-right: 30px;
    cursor: pointer;
}

.main-content {
    display: flex;
    padding-top: 5px; /* Ajusta este valor para evitar superposición con la navbar */
}

.tab-buttons {
    text-align: right;
    width: 50px;
    cursor: pointer;
}

.toolbarcreate {
    position: fixed;
    top: 0px;
    right: 0;
    height: calc(100% - 60px); 
    width: 70px;
    background-color: #ffffff;
    box-shadow: -0px 0 5px rgba(190, 184, 20, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.toolbarcreate .logout-button {
    margin-top: auto;
    padding-bottom: 20px;
}

.toolbarcreate img {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    transition-duration: 700ms ;
    cursor: pointer;
}

.toolbarcreate img:hover {
    background-color: rgba(168, 171, 3, 0.738);
    background-size: 200%;    
    transition-duration: 700ms ;
}

.toolbar-container {
    padding: 20px, 0px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: solid;
    border-width: 2px;
    width: calc(100% - 130px); /* Ajusta el ancho para que considere la barra de herramientas */
    height: 600px;
    margin-left: 20px;
}

.createexercises-container {
    padding: 20px, 0px 20px;
    box-shadow: -4px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: solid;
    display: flex;
    flex-direction: row;
    border-width: 2px;
    width: calc(100% - 130px); /* Ajusta el ancho para que considere la barra de herramientas */
    height: 600px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

.createexercises-container-open {
    align-content: end;
    text-align: end;
    margin: 0 20px; /* Añade márgenes a la izquierda y derecha para separarlos */
    height: 100%; /* Asegúrate de que el contenedor ocupe toda la altura disponible */
}

.createexercises-container div button {
    margin-right: 2%;
    color: white;
    background-color: #1c66ac;
    border-radius: 20px;
    border: none;
    margin-bottom: 2%;
    font-size: medium;
    font-family: "Figtree", sans-serif;
    transition-duration: 500ms ;
}

.createexercises-container div button:hover {
    transform: scale(1.2);
    transition-duration: 500ms;
}

.question-div-vocabulary {
    display: flex;
    flex-direction: column; /* Cambia a columna para que los elementos estén uno debajo del otro */
    align-items: center; /* Centra los elementos horizontalmente */
    margin-left: 400px;
    margin-bottom: 20%;
}

.question-div-vocabulary input {
    height: 70px;
    width: 600px;
    border-radius: 20px;
    padding: 5px; /* Opcional: agrega espacio interior */
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    margin-right: 20px;
    font-size: medium;
    transition-duration: 500ms ;
}

.question-div-vocabulary input:focus{
    outline: none; /* Elimina el contorno al enfocar */
    border-color: #007bff; /* Cambia el color del borde inferior al enfocar */
    transition-duration: 500ms;
    width: 700px;

}

.question-div-vocabulary h3 {
    font-weight: 100;
    text-align: center;

}

.flexdiv-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.answers-open-div {
    margin-top: 20px;
}

.answers-open-div h3 {
    font-weight: 200;
    margin-left: 20px;
    margin-right: 20px;
}

.answer-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.answer-input {
    border-radius: 5px;
    height: 30px;
    width: 100%;
    font-family: "Figtree", sans-serif;
    margin-right: 10px;
}


.upload_openqg{
    border: none;
    position: relative;
    left: 87%;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: lightgreen;
    font-family: "Figtree", sans-serif;
    margin-bottom: 30px;
}

.upload_openqg:hover{
    background-color: rgb(11, 199, 11);
    transition-duration: 500ms;

}

.answerh3-complete{
color: green;



}

.textarea-reading{

    min-height: 70px;
    max-height: 150px;
    max-width: 600px;
    min-width: 500px;
    border-radius: 20px;
    padding: 5px; /* Opcional: agrega espacio interior */
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    margin-right: 20px;
    font-size: medium;
    transition-duration: 500ms ;
}
