@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Figtree", sans-serif;
    margin: 0;
}

.profile-page {
    padding-top: 60px; /* Ajusta este valor para evitar superposición con la navbar */
}

.navbarcreate {
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: -2px 0 5px rgba(190, 184, 20, 0.9);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 1; 
}

.navbarcreate ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbarcreate li {
    float: left;
}

.navbarcreate li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbarcreate li a:hover {
    background-color: #ddd;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.username-pass {
    margin: 0;
    margin-right: 30px;
    cursor: pointer;
}

.main-content {
    display: flex;
    padding-top: 5px; /* Ajusta este valor para evitar superposición con la navbar */
}

.tab-buttons {
    text-align: right;
    width: 50px;
    cursor: pointer;
}

.toolbarcreate {
    position: fixed;
    top: 0px;
    right: 0;
    height: calc(100% - 60px); 
    width: 70px;
    background-color: #ffffff;
    box-shadow: -0px 0 5px rgba(190, 184, 20, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.toolbarcreate .logout-button {
    margin-top: auto;
    padding-bottom: 20px;
}

.toolbarcreate img {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    transition-duration: 700ms ;

    cursor: pointer;
}

.toolbarcreate img:hover {
    background-color: rgba(168, 171, 3, 0.738);
    background-size: 200%;    
    transition-duration: 700ms ;

}

.toolbar-container{
    padding: 20px, 0px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: solid;
    
    border-width: 2px;
    width: calc(100% - 130px); /* Ajusta el ancho para que considere la barra de herramientas */
    height: 600px;
    margin-left: 20px;

}

.createexercises-container{
    padding: 20px, 0px 20px;
    box-shadow: -4px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: solid;
    display: flex;
    flex-direction: row;
   border-width: 2px;
    width: calc(100% - 130px); /* Ajusta el ancho para que considere la barra de herramientas */
    height: 600px;
    margin-left: 20px;
    justify-content:center;
    align-items: center;


}

.createexercises-container div{
 height: 90%;
 border: solid;
 border-width: 2px;
 border-radius: 7px;
 width: 40%;
align-content:end;
text-align: end;
margin: 0 20px; /* Añade márgenes a la izquierda y derecha para separarlos */


}

.createexercises-container div button{
 margin-right: 2%;
 color: white;
 background-color: #1c66ac;
 border-radius: 20px;
 border: none;
 margin-bottom: 2%;
 font-size: medium;
 font-family: "Figtree", sans-serif;
transition-duration: 500ms ;
   
   }
   .createexercises-container div button:hover{
   transform: scale(1.2);
    transition-duration: 500ms;

    

      
    }

   

   .grammar-select{
    border-top: 6px solid #AC1C52;

    background: url("../grammarimage.png");
    background-size:solid;
    background-position: -100px   ;
    background-size:cover;
   }

   .vocabulary-select{
    border-top: 6px solid #AC1C52;

    background: url("../vocabularyimage.png");
    background-size:solid;
    background-size: cover;
    background-position: -200px   ;


   }

   .reading-select{
    border-top: 6px solid #AC1C52;

    background: url("../readingimage.png");
    background-size:solid;
    background-position: -300px   ;
    background-size: cover;

   }





