@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.queue-container {
    position: absolute;
    padding: 20px;
    border-radius: 8px;
    border: solid;
    border-width: 2px;
    width: calc(100% - 130px); /* Ajusta el ancho para que considere la barra de herramientas */
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

p {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

/* FLASHBANG pero chill*/
.flashVerde {
    animation: flash-green 0.5s;
}
/*Flashbang pero rojo*/
.flashRojo {
    animation: flash-red 0.5s;
}

@keyframes flash-green {
    0% { background-color: green; }
    100% { background-color: transparent; }
}

@keyframes flash-red {
    0% { background-color: red; }
    100% { background-color: transparent; }
}

/* Caja invisible que ocupa el espacio central */
.invisible-box {
    flex-grow: 1; /* Este elemento tomar치 el espacio sobrante */
    background-color: transparent; /* Caja invisible */
}

.hori-div {
    display: flex;
    flex-direction: row;
}

.titlequeue {
    text-align: center;
    position: absolute;
    right: 47%;
    top: 5%;
    right: 50%;
    transform: translate(50%, -50%);
}

.button-returnqueue {
    margin-left: 3%;
    margin-top: 1%;
    width: 50px; /* Ancho del bot칩n */
    height: 50px; /* Altura del bot칩n */
    background-image: url("../icons/back_exercises.png"); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el bot칩n */
    background-position: center; /* Centra la imagen */
    border: none;
    background-color: white;
    transition-duration: 500ms;
}

.button-returnqueue:hover {
    background-image: url("../icons/back_exercises_hovered.png"); /* Ruta de la imagen */
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    margin-left: 2%;
}

.instructionqueue {
    text-align: center;
}

.exercises-content {

    width: 99%;
    height: flex;
    position: relative;
    align-self: center;
    border-radius: 20px;

    border: none;

}

.button-queue-container {
    margin-top: 2%;
    margin-left: 70%;
    padding: 0 40px;
}

.button-queue-container button {
    margin-left: 20px;
    width: 150px;
    height: 30px;
    font-family: 'Figtree', sans-serif;
    
    color: white;
    background-color: black;
    border-radius: 20px;
    border: none;
    transition-duration: 500ms;
    max-width: 200px;
}

.button-queue-container button:hover {
    background-color: gray;
    transition-duration: 500ms;
}
