@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Figtree", sans-serif;
    margin: 0;
}

.profile-page {
    padding-top: 60px; /* Ajusta este valor para evitar superposición con la navbar */
}

.navbartypeexercises {
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: -2px 0 5px rgba(123, 112, 108, 0.9);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 1; 
}

.navbartypeexercises ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbartypeexercises li {
    float: left;
}

.navbartypeexercises li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbartypeexercises li a:hover {
    background-color: #ddd;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.username-pass {
    margin: 0;
    margin-right: 30px;
    cursor: pointer;
}

.main-content {
    display: flex;
    padding-top: 5px; /* Ajusta este valor para evitar superposición con la navbar */
}

.tab-buttons {
    text-align: right;
    width: 50px;
    cursor: pointer;
}

.toolbartypeexercises {
    position: fixed;
    top: 0px;
    right: 0;
    height: calc(100% - 60px); 
    width: 70px;
    background-color: #ffffff;
    box-shadow: -0px 0 5px rgba(123, 112, 108, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.toolbartypeexercises .logout-button {
    margin-top: auto;
    padding-bottom: 20px;
}

.toolbartypeexercises img {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    transition-duration: 700ms ;

    cursor: pointer;
}

.toolbartypeexercises img:hover {
    background-color: rgba(79, 79, 79, 0.738);
    background-size: 200%;
    transition-duration: 700ms ;

}

.typeexercises-container{
    padding: 20px, 0px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: solid;
    
    border-width: 2px;
    width: calc(100% - 130px); /* Ajusta el ancho para que considere la barra de herramientas */
    height: 600px;
    margin-left: 20px;

}



.defaultex-title{
 margin-left: 3%;

}

.image-typeexercises
{
    margin-top: 20px;
    margin-left: 40px;
}

.typeexercises-group{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-group{

    margin-left: 5%;

}

.typeexercises-group input{
    
}

.practiceicon{
margin-left: 20px;
height: 60px;

}

.filtertypes{
    margin-left: 4%;
    border-radius: 20px;
}

.start-button{

    position: absolute;
    right: 50%;
    width: 70px; /* Ancho del botón */
    height: 70px; /* Altura del botón */
    background-image: url("../icons/play_icon.png"); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el botón */
    background-position: center; /* Centra la imagen */
    border: none;
    background-color: white;
    transition-duration: 500ms;

}

.start-button:hover{
    background-image: url("../icons/play_icon2.png"); /* Ruta de la imagen */
    transition-duration: 500;
   
    right: 49%;


}
.inputradio-filters{
    appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  
}

.inputradio-filters:checked{

    border: 6px solid #AC1C52;

}

