@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Figtree", sans-serif;
    margin: 0;
}

.profile-page {
    padding-top: 60px; /* Ajusta este valor para evitar superposición con la navbar */
}

.navbarmyexercises {
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: -2px 0 5px rgba(26, 118, 155, 0.9);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 1; 
}

.navbarmyexercises ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbarmyexercises li {
    float: left;
}

.navbarmyexercises li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbarmyexercises li a:hover {
    background-color: #ddd;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.username-pass {
    margin: 0;
    margin-right: 30px;
    cursor: pointer;
}

.main-content {
    display: flex;
    padding-top: 5px; /* Ajusta este valor para evitar superposición con la navbar */
}

.tab-buttons {
    text-align: right;
    width: 50px;
    cursor: pointer;
}

.toolbarmyexercises {
    position: fixed;
    top: 0px;
    right: 0;
    height: calc(100% - 60px); 
    width: 70px;
    background-color: #ffffff;
    box-shadow: -0px 0 5px rgba(26, 118, 155, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.toolbarmyexercises .logout-button {
    margin-top: auto;
    padding-bottom: 20px;
}

.toolbarmyexercises img {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    transition-duration: 700ms ;

    cursor: pointer;
}

.toolbarmyexercises img:hover {
    background-color: rgba(22, 88, 107, 0.738);
    background-size: 200%;
    transition-duration: 700ms ;

}

.toolbar-container{
    padding: 20px, 0px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: solid;
    
    border-width: 2px;
    width: calc(100% - 130px); /* Ajusta el ancho para que considere la barra de herramientas */
    height: 600px;
    margin-left: 20px;

}









