@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body {
    font-family: "Figtree", sans-serif;
    margin: 0;
}

.profile-page {
    padding-top: 60px; /* Ajusta este valor para evitar superposición con la navbar */
}

.navbarsettings {
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: -2px 0 5px rgba(48, 26, 155, 0.9);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 1; /* Asegura que la navbar esté sobre otros elementos */
}

.navbarsettings ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbarsettings li {
    float: left;
}

.navbarsettings li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbarsettings li a:hover {
    background-color: #ddd;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.username-pass {
    margin: 0;
    margin-right: 30px;
    cursor: pointer;
}

.main-content {
    display: flex;
    padding-top: 60px; /* Ajusta este valor para evitar superposición con la navbar */
}

.tab-buttons {
    text-align: right;
    width: 50px;
    cursor: pointer;
}

.toolbarsettings {
    position: fixed;
    top: 0px;
    right: 0;
    height: calc(100% - 60px); 
    width: 70px;
    background-color: #ffffff;
    box-shadow: -0px 0 5px rgba(48, 26, 155, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.toolbarsettings .logout-button {
    margin-top: auto;
    padding-bottom: 20px;
}

.toolbarsettings img {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    transition-duration: 700ms ;

    cursor: pointer;
}

.toolbarsettings img:hover {
    background-color: rgba(128, 0, 128, 0.281);
    background-size: 200%;
    transition-duration: 700ms ;

}

.user-infosettings {
    padding: 20px;
    background-color: #e5e4e4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: solid;
    border-width: 1px;
    width: calc(100% - 250px); /* Ajusta el ancho para que considere la barra de herramientas */
    margin: 20px auto;
}

.user-details {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-image {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.user-name,
.user-email,
.user-level,
.user-points, .user-password {
   color:#AC1C52
}


.user-infosettings h2{

    font-size: larger;
    
}


.switch {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 40.5%;
    width: 45px;
    height: 22px;
    margin-top: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

 
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #AC1C52;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #AC1C52;
  }
  
  input:checked + .slider:before {
    transform: translateX(22px);
    -webkit-transform: translateX(22px);
    
    
  }
 
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.user-save {
    margin-top: 15px;
    background-color: black;
    color: white;
    margin-left: 70%;
    border: none;
    font-size: medium;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Figtree", sans-serif;
    cursor: pointer;
    width: 150px;

}

.user-save:hover{
background-color: purple;
    
}




.user-buttonsettings {
    background-color: #e5e4e4;
    color: #ac1c5173;
    font-style: italic;
    border: none;
    font-size: 15px;
    position:absolute;
    left: 34%;
    border-radius: 5px;
    font-family: "Figtree", sans-serif;
    
}

.user-buttonsettings:hover {
    color:#AC1C52;
}


.changingdata-class{
    display: flex;
    
    flex-direction: row;
    align-items: center; 
    

  }

  .user-data-firestore{
    margin: 20px;
   
  }

  .privatepolicydiv{

    display: flex;
    flex-direction: row;
  }
  .privatepolicy{

    text-decoration: none;
    color: #AC1C52;
  }

  .notif-config{

    color: #AC1C52;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
  }

  .notif-config h2{
    color: black;
  }

  input[type="time"]::-webkit-calendar-picker-indicator{
    width: 20px;
    height: 20px;
    background: url('/icons/clockicon.svg') no-repeat center center;
    background-size: contain;
    
}

  

  .inputs-data{
    position:absolute;
    right: 30%;
    margin-left: 19%;
    border-radius: 10px;
    font-family: "Figtree", sans-serif;
    
  }

  .inputs-data-password{
    position:relative;
    right: 12%;
    border-radius: 10px;
    font-family: "Figtree", sans-serif;
    margin-top: 10px;
    width: 300px;
  }

  .username-advertisement{
color: gray;
margin: 0;

  }

  .password-fields{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    width: 400px;

  }

  .security-message{
    font-size: small;
    position: absolute;
    right: 40%;
    top: 70%;
  }

  .button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .user-refresh{
    margin-top: 15px;
    background-color: #AC1C52;
    color: white;
    border: none;
    margin-left: 20px;
    font-size: medium;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Figtree", sans-serif;
    cursor: pointer;
    width: 150px;
  }

  .user-refresh:hover{
    background-color: rgb(151, 27, 64);

  }

  .inputtimenotif{
    position: absolute;
    left: 20%;
    width: 100px;
    margin-top: 20px;
  }

  .user-warning{
    color: gray;
    font-size: small;
    
  }

  .instant-checkboxes{
    appearance: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 10px;
  
  }

  .instant-checkboxes:checked{
    border: 10px solid #AC1C52;

  }

  .instant-div{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    left: 30%;
  }