.complete-order-sentence-container {
    display: flex;
    gap: 10px;
 
    justify-content: center;
    flex-direction: row;
    padding: 20px;
}

.complete-sentence-fragment{
    margin-top: 2rem;
    display: flex;
    gap: 10px;
    align-items: center;

    flex-direction: row;
    margin-bottom: 15px;
}
.complete-sentence-fragment span {
    font-size: 18px;
}

.complete-sentence-fragment input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
    transition: border-color 0.3s ease;
}

.reset{
    margin-top: 50px;
    margin-left: 680px;
    background-color: black;
    color: white;
    padding: 5px 35px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.reset:hover {
    background-color: #950b7c;
}
